[user]
  name = Ben Diuguid
  email = bendiuguid@gmail.com

[github]
  user = bendiuguid

[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  pager = diff-highlight | diff-so-fancy | less --tabs=4 -RFX
  filemode = false
  trustctime = false

[alias]
  ss = status
  co = checkout
  undo = reset HEAD~1 --mixed # Resets the previous commit, but keeps all the changes from that commit in the working directory.
  amend = commit -a --amend # Modify the previous commit
  back = checkout "-"
  branches = branch -a
  remotes = remote -v
  prune = fetch --prune

[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX

[color]
  ui = always
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "status"]
	untracked = cyan

[credential]
  helper = osxkeychain

[push]
  default = simple

[fetch]
  prune = true

[difftool]
  prompt = false

[mergetool]
  prompt = false

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
