[user]
  name = Ben Diuguid
  email = bendiuguid@gmail.com

[github]
  user = bendiuguid

[core]
  excludesfile = ~/.gitignore_global
  editor = atom --wait
  filemode = false
  trustctime = false

[alias]
  ss = status
  co = checkout
  undo = reset HEAD~1 --mixed # Resets the previous commit, but keeps all the changes from that commit in the working directory.
  amend = commit -a --amend # Modify the previous commit
  dsf = "!git diff --color $@ | diff-so-fancy"
  show-ignored = "! git clean -ndX | perl -pe 's/Would remove/Ignored:/'"
  back = checkout "-"
  branches = branch -a
  remotes = remote -v

[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX

[color]
  ui = auto

[credential]
  helper = osxkeychain

[grep]
  lineNumber = true

[push]
  default = simple

[fetch]
  prune = true

[difftool]
  prompt = false

[mergetool]
  prompt = false

[diff]
  tool = webstorm
[difftool "webstorm"]
  cmd = /usr/local/bin/wstorm diff \"$LOCAL\" \"$REMOTE\"

[merge]
  tool = webstorm
[mergetool "webstorm"]
  cmd = /usr/local/bin/wstorm merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
